# Code Editor Configuration
.vscode
.idea
.astro

# Python Configuration
__pycache__
venv
.venv

# Node.js Configuration
node_modules
npm-debug.log
frontend/dist

# App Configuration
backend/logs/*
!backend/logs/dummy.log
backend/app/keys/*
!backend/app/keys/README.md

# Oracle Instant Client Configuration
backend/oracle_home/*
!backend/oracle_home/*.sh

# Environment Configuration
.env
.env.local

# Database Scripts
backend/database/*