<footer class="bg-slate-100 dark:bg-slate-900 rounded-lg shadow mt-6">
  <div
    class="w-full mx-auto py-2 px-4 sm:p-4 flex items-center justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2025
      <a href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/" 
      target="_blank"
      class="hover:underline basic-text-sm">luis122448</a>
    </span>
    <ul
      class="flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 mt-0"
    >
      <li class="my-auto">
        <a
          href="https://www.linkedin.com/in/luis-antonio-calvo-quispe-57a33b229/"
          target="_blank"
          class="mr-4 hover:underline md:mr-6 basic-text-sm">Linkedin</a
        >
      </li>
    </ul>
  </div>
</footer>
