---
---

<div class="flex flex-col items-center justify-center p-8 text-center rounded-lg shadow-lg mt-6 mx-auto bg-gray-100 dark:bg-slate-900">
  <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-4">
    Simplify Your Oracle to Oracle Autonomous Migration
  </h1>
  <p class="text-lg text-gray-700 dark:text-gray-300 mb-8 max-w-2xl">
    An efficient tool to transfer <span class="font-bold">specific tables or records</span> from your existing Oracle databases to the power and scalability of Oracle Autonomous Database.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-10 w-full">
    <div class="p-4 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-sm">
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl mb-2">Guided Migration</h3>
      <p class="text-gray-600 dark:text-gray-400 text-sm">Step-by-step process for a seamless transition.</p>
    </div>
    <div class="p-4 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-sm">
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl mb-2">Real-time Monitoring</h3>
      <p class="text-gray-600 dark:text-gray-400 text-sm">Track the progress of your migrations instantly.</p>
    </div>
    <div class="p-4 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-sm">
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl mb-2">Detailed Reports</h3>
      <p class="text-gray-600 dark:text-gray-400 text-sm">Get comprehensive reports on the status of each migration.</p>
    </div>
    <div class="p-4 bg-gray-50 dark:bg-gray-800 rounded-lg shadow-sm">
      <h3 class="font-semibold text-gray-900 dark:text-white text-xl mb-2">Secure and Reliable</h3>
      <p class="text-gray-600 dark:text-gray-400 text-sm">Designed for the integrity of your data.</p>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-4">
    <a href="/configurations" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 md:py-4 md:text-lg md:px-8 shadow-lg transition duration-150 ease-in-out">
      Configure Connections
    </a>
    <a href="/tables" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-yellow-600 hover:bg-yellow-700 md:py-4 md:text-lg md:px-8 shadow-lg transition duration-150 ease-in-out">
      Validate Tables to Migrate
    </a>
    <a href="/migrate" class="inline-flex items-center justify-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 md:py-4 md:text-lg md:px-8 shadow-lg transition duration-150 ease-in-out">
      Perform Migration
    </a>
  </div>
</div>